<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_sy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_sy"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme"
        >
        <activity android:name=".DeleteAccountActivity"
            android:exported="false"/>
        <activity
            android:name=".ChangePhotoActivity"
            android:exported="false"
            />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            />
        <activity
            android:name=".PasswordChangeActivity"
            android:exported="false"
            />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            />
        <activity
            android:name=".MapActivity"
            android:exported="false"
            />
        <activity
            android:name=".AnnoncesActivity"
            android:exported="false"
            >

        </activity>
        <activity
            android:name=".AnnonceAddActivity"
            android:exported="false"
        >
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTAHNsVaMtG0rGuc_5rN3HSLxQJf5ono0" />
        <provider
            android:authorities="com.example.camerapermission.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>